<!doctype html>
<html lang="en" ng-app="handyfinderwebapp">
	<head>
		<meta charset="utf-8">
		<title>My HTML File</title>

		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
		<link rel="stylesheet" href="css/custom.css">

	</head>

	<body ng-controller="mainApplicationController">

		<div class="common-layout header-layout container" >
			<!-- app title  -->
			<div class="row text-left " style="">
				<div class="col-xs-9 top-header">
					<a href="/app/index.html" role="button" class="h2 title" style="padding-left: 10px"> HandyFinder <span class="glyphicon glyphicon-search"></span></a>
					<span href="" class="h4" style="color: #347AA7"> {{path}} </span>
				</div>
				<div class="text-right col-xs-3">
					<button ng-click="go('/search')" type="button" ng-style="{ 'background-color': path.toLowerCase().indexOf('search') > -1 && false ? '#549AD7' : '' }" class="btn btn-default" aria-label="Left Align" > <!-- uib-popover="Search" popover-trigger="mouseenter"  popover-placement="bottom" -->
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
					<button ng-click="go('/index')" type="button" ng-style="{ 'background-color': path.toLowerCase().indexOf('index') > -1 && false ? '#549AD7' : '' }" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button ng-click="go('/setting')" type="button" ng-style="{ 'background-color': path.toLowerCase().indexOf('setting') > -1 && false ? '#549AD7' : ''}" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>

		<div ng-view></div>

	</body>
	<!-- <script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>  -->
	<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
	<!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	<!-- <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script> -->
	<script src="javafx-js/uiService.js"></script>
	<script src="bower_components/sockjs-client/dist/sockjs-0.3.4.min.js"></script>
	<script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/ng-contextmenu/dist/ng-contextmenu.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!-- <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script> -->
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="js/websocketModelApp.js"></script>
	<script src="js/indexModelApp.js"></script>
	<script src="js/apiServiceApp.js"></script>
	<script src="js/handyfinderwebapp.js"></script>
</html>