<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="FILE_APPENDER" class="org.apache.log4j.FileAppender">
		<param name="file" value="log.out" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %c{10} [%p][%L] - %m%n" /> <!--  [%t] -->
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %c{10} [%p][%L] - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.messaging">
		<level value="warn" />
	</logger>
	<logger name="org.springframework.web">
		<level value="warn" />
	</logger>
	<logger name="io.github.qwefgh90.handyfinder.memory.monitor">
		<level value="debug" />
	</logger>
	<logger name="io.github.qwefgh90.handyfinder.gui">
		<level value="debug" />
	</logger>
	<logger name="io.github.qwefgh90.springweb.service">
		<level value="debug" />
	</logger>
	<logger name="io.github.qwefgh90.handyfinder.lucene">
		<level value="trace" />
	</logger>
	<logger name="io.github.qwefgh90.handyfinder.springweb.websocket.test">
		<level value="debug" />
	</logger>
	<root>
		<priority value="warn" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_APPENDER"/>
	</root>

</log4j:configuration>