<div class="common-layout header-layout container" >
	<!-- search input  -->
	<div class="row">
		<div class="col-xs-12">
			<uib-accordion close-others="oneAtATime">
				<uib-accordion-group is-open="status.open">
					<uib-accordion-heading>
						Path Manager <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					<div class="list-group" style="margin-bottom: 10px">

						<a data-context-menu="views/context-menu/index-contextmenu.html" href class="list-group-item" ng-repeat="path in pathList">{{path.path}}</a>

						<button type="button" class="list-group-item btn btn-default" style="text-align:center" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD DIRECTORY
						</button>
					</div>
			</uib-accordion>
					{{temp}}
			<span uib-dropdown on-toggle=""> <a href id="simple-dropdown" uib-dropdown-toggle> Click me for a dropdown, yo! </a>
				<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
					<li>
						<a href>i1</a>
						<a href>i2</a>
						<a href>i3</a>
						<a href>i4</a>
					</li>
				</ul> </span>

		</div>
	</div>
</div>