<div class="common-layout header-layout container">
	<!-- search input  -->
	<div class="row">
		<div class="col-xs-12">
			<uib-accordion close-others="false"> <uib-accordion-group
				is-open="indexModel.index_progress_status.open"
				ng-show="indexModel.index_progress_status.progress==true">
			<uib-accordion-heading> Progress
			{{indexModel.index_progress_status.progress == true ?
			'('+indexModel.index_progress_status.progressItemCount+')' : ''}} <i
				class="pull-right glyphicon"
				ng-class="{'glyphicon-chevron-down': indexModel.index_progress_status.open, 'glyphicon-chevron-right': !indexModel.index_progress_status.open}"></i>
			</uib-accordion-heading> <uib-alert
				ng-repeat="alert in indexModel.index_progress_status.alertQ"
				type="{{alert.type}}" dismiss-on-timeout="{{alert.timeout}}"
				close="indexModel.index_progress_status.removeAlertQ($index);">
			{{alert.msg}} </uib-alert>
			<div ng-show="indexModel.progressBarVisible">
				<h3>Indexing</h3>
				<uib-progressbar max="indexModel.totalProcessCount"
					value="indexModel.processIndex"> <span
					style="color: black; white-space: nowrap;">{{indexModel.processPath}}
					({{indexModel.processIndex}}/{{indexModel.totalProcessCount}})</span> </uib-progressbar>
			</div>
			<strong ng-if="indexModel.index_progress_status.progress==false">We
				currently do not running.</strong> </uib-accordion-group> <uib-accordion-group
				is-open="indexModel.index_manager_status.open">
			<uib-accordion-heading> Directories <i
				class="pull-right glyphicon"
				ng-class="{'glyphicon-chevron-down': indexModel.index_manager_status.open, 'glyphicon-chevron-right': !indexModel.index_manager_status.open}"></i>
			</uib-accordion-heading>
			<div class="list-group" style="margin-bottom: 10px">
				<a data-context-menu="views/context-menu/index-contextmenu.html"
					href class="list-group-item"
					ng-repeat="path in indexModel.pathList"> <span
					ng-style="path.used == false ? {'opacity': 0.3} : {}"
					ng-class="path.used == false ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-ok'"
					aria-hidden="true"> </span> <span
					ng-style="path.recursively == false ? {'opacity': 0.3} : {}"
					ng-class="path.recursively == false ? 'glyphicon glyphicon-repeat' : 'glyphicon glyphicon-repeat'"
					aria-hidden="true"> </span> <span style="font-size: 16px">{{path.pathString}}</span>
				</a>
				<button type="button" class="list-group-item btn btn-default"
					ng-click="addDirectory()" style="text-align: center"
					aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New
					Directory
				</button>
			</div>
			<div style="text-align: center">
				<button class="btn btn-default" ng-click="run()">
					Run
					<!--automatically update indexes. automatically clean deleted files.-->
				</button>
			</div>
			</uib-accordion-group> <uib-accordion-group is-open="indexModel.index_option_status.open">
			<uib-accordion-heading> Index Options <i
				class="pull-right glyphicon"
				ng-class="{'glyphicon-chevron-down': indexModel.index_option_status.open, 'glyphicon-chevron-right': !indexModel.index_option_status.open}"></i>
			</uib-accordion-heading>
			<div style="margin-top: 10px;" class="row">
				<div class="col-xs-4" style="">
					<b>Support Types ({{totalDisplayed}}/{{indexModel.supportTypes.length}}) </b>
					<div class="boxes">
						<div class="checkbox"
							ng-repeat="typeObj in indexModel.supportTypes | limitTo:totalDisplayed"
							scroll-if="typeObj.type == searchedType">
							<label> <input type="checkbox" ng-model="typeObj.used"
								ng-change="updateType(typeObj)"> {{typeObj.type}}
							</label>
						</div>
					</div>
					<input type="text" placeholder="hwp" style="width:100%" ng-change='changeSearchKeyword(searchedKeyword)' ng-model='searchedKeyword'/>
    				<button ng-click="loadMore()" style="width:100%" type="submit" class="btn btn-default">Read More</button>
				</div>
				<div class="col-xs-8 properties-boxes" style="">
					<div class="container-fluid">
						<div class="row">
							Maximum Document Size <input type="number" style="width: 40px"
								ng-value="indexModel.maximum_size" /> MB
						</div>
						<div class="row" style="border-top: 1px solid #ddd;">
							<label class="" > <input type="checkbox"
								ng-model="no" ng-change=""> Indexing folder name
							</label>
						</div>
					</div>
				</div>
			</div>
			</uib-accordion-group> </uib-accordion>
		</div>
	</div>
</div>